

* {
    margin: 20;
    padding: 20;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f3;
    color: #333;
  }
  
  .portfolio-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(248, 253, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .header h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #83873d;
  }
  
  .bio {
    font-size: 18px;
    color: #666;
  }
  
  .skills,
  .projects {
    margin-bottom: 40px;
  }
  
  .skills h2,
  .projects h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .skills ul {
    list-style-type: none;
  }
  
  .skills li {
    font-size: 18px;
    color: #444;
    margin: 5px 0;
  }
  
  .projects .project {
    background-color: #eef26b;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }
  
  .projects .project h3 {
    font-size: 24px;
    color: #444;
    margin-bottom: 10px;
  }
  
  .projects .project p {
    font-size: 16px;
    color: #573a3a;
  }
  
  .footer {
    text-align: center;
    font-size: 16px;
    color: #281414;
  }
  
  .footer a {
    color: #5ab9f0;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }